<%= form_with model: [@crag, @sector], local: true, html: {multipart: true} do |form| %>
  <p><%= form.text_field :name %></p>
  <%= form.hidden_field :crag_id, value: params[:id] %>
  <p><%= form.file_field :image %></p>
  <p><%= form.submit %></p>
<% end %>
